.mycontent {
    padding-top: 100px;
    border: 10px solid red;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #191063;
    margin: 0;
  }
  
  .navbar-custom {
      background-color: rgb(104, 37, 37);
      color: white;
  }
  #navbar{
    margin: 20px 20px 20px 20px;
    color: red;
  }
  .nav-link{
    margin-right: 220px;
  } 
